<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice Form</title>
</head>
<body>
        <div class="forms">
            <form action="" method="post">
                {% csrf_token %}
                <h1>Create Notice</h1>        
                <div class="row">
                    <div class="col">
                        <label>Message</label>
                    </div>
                    <div class="col">
                        <input type="text" name="admsg">
                    </div>
                </div>
                <div class="row">
                <input style="padding: 5px; margin: 5px;" type="submit"  value="Submit" class="col btn btn-primary submit"/>
                </div>
            </div>
              </form>
</body>
</html>