{% include "header.html" %}
    <div class="about">
        <h1>About Us</h1>
    <p class=" para">
       The University is fast expanding both in terms of facilities and students enrolled. The University has separate boys’ and girls’ hostels that provide convenient accommodation to the students with in house mess facility. The boys’ hostel has a capacity of around 300 students, and the girls’ hostel also offers an accommodation for 300 students. To make the stay of the students pleasant and enjoyable, various activities, events and celebrations are organized within the hostels on a regular basis. Both the hostels are enabled with free wi-fi services and indoor games. CCTV cameras have also been installed to maintain safety and security. The allotment of rooms is made as per the rules, guidelines and relevant regulations of the University.
Besides this, students will have to pay the mess charges for availing the mess facility, that is compulsory for every resident.
       Khwaja Moinuddin Chishti Language University, located in Lucknow, Uttar Pradesh, has separate hostels for boys and girls The boys’ hostel has a capacity of around 300 students and offers in-house mess facilities. The hostel is equipped with Personal Wi-Fi services and indoor games. 
     </p>
   </div>
   <iframe width="420" height="345"  src="https://www.youtube.com/embed/M-zWQft4TPw">
  </iframe>
  <iframe width="420" height="345" src="https://www.youtube.com/embed/A0fHTERErmY">
  </iframe>
  <iframe width="420" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" height="345" src="https://www.youtube.com/embed/phpBNFSBatw">
  </iframe>
  
{% include "footer.html" %}
