{% include "header.html" %}
<div style="color: aliceblue;margin: 0px 25px 0px 20px;">
    <h3>Anti ragging Policy</h3>
    <p>
        This policy has been formulated in consonance with UGC Rules 2016, on Anti Ragging in Higher
        Educational Institutions / Universities, as published in the gazette notification.
    </p>
    <ol>
        <li>
            General</h4>
            <ul>
                <li> In view of the directions of the Hon’ble Supreme Court, and in consideration of the rules
                    framed by the Central Government and the UGC, to prohibit, prevent and eliminate ragging
                    and to provide for the healthy development, physically and psychologically, of all students,
                    SRM University, AP – Amaravati has set forth the Anti-Ragging Policy as listed in succeeding
                    paragraphs.
                </li>
                <li>
                    The Vice Chancellor shall be responsible for implementation of rules listed here under this
                    policy. However, he may delegate the functional roles and procedures to any other Officer of
                    the University, so nominated as the Nodal Officer for anti-ragging function in the University.

                </li>
            </ul>
        </li>
        <li>
            <h4>Objectives of the Policy</h4>
            <ul>
                <li>
                    To prohibit, prevent and eliminate any conduct by any student or students which constitutes ragging.
                </li>
            </ul>
        </li>
        <li>
            <h4>What constitutes Ragging</h4>
            <ul>
                <dd>
                    Ragging constitutes one or more of any of the following acts:
                </dd>
                <li>
                    any conduct by any student or students whether by words spoken or written or by an act
                    which has the effect of teasing, treating or handling with rudeness a fresher or any other
                    student;
                </li>
                <li>
                    indulging in rowdy or indiscipline activities by any student or students which causes or is likely
                    to cause annoyance, hardship, physical or psychological harm or to raise fear or apprehension
                    thereof in any fresher or any other student;
                </li>
                <li>
                    asking any student to do any act which such student will not in the ordinary course do and
                    which has the effect of causing or generating a sense of shame, or torment or embarrassment
                    so as to adversely affect the physique or psyche of such fresher or any other student;
                </li>
                <li>
                    any act by a senior student that prevents, disrupts or disturbs the regular academic activity of
                    any other student or a fresher;

                </li>
                <li>
                    exploiting the services of a fresher or any other student for completing the academic tasks
                    assigned to an individual or a group of students;
                </li>
                <li>
                    any act of physical abuse including all variants of it: sexual abuse, homosexual assaults,
                    stripping, forcing obscene and lewd acts, gestures, causing bodily harm or any other danger
                    to health or person;
                </li>
            </ul>
        </li>
        <li>
            <h4>Committees for prevention of Ragging at the University level</h4>
            <ul>
                <li>
                    Anti-Ragging Committee to be nominated and headed by the Vice Chancellor, and consisting
                    of representatives of civil and police administration, local media, Non-Government
                    Organizations involved in youth activities, representatives of faculty members,
                    representatives of parents, representatives of students belonging to the freshers’ category as
                    well as senior students, non-teaching staff; and shall have a diverse mix of membership in
                    terms of levels as well as gender. It shall be the duty of the Anti-Ragging Committee to ensure
                    compliance with the provisions of Anti ragging policy as well as the provisions of any law for
                    the time being in force concerning ragging; and also to monitor and oversee the performance
                    of the Anti-Ragging Squad in prevention of ragging in the University. The details are provided
                    at Annexure 1.
                </li>
                <li>
                    A smaller body to be known as the Anti-Ragging Squad to be nominated by the Vice Chancellor
                    with such representation as may be considered necessary for maintaining vigil, oversight and
                    patrolling functions and shall remain mobile, alert and active at all times. Provided that the
                    Anti-Ragging Squad shall have representation of various members of the campus community
                    and shall have no outside representation.
                </li>
                <li>
                    It shall also be the duty of the Anti-Ragging Squad to conduct an on-the-spot enquiry into any
                    incident of ragging referred to it by the Vice Chancellor or any member of the faculty or any
                    member of the staff or any student or any parent or guardian or any employee of a service
                    provider or by any other person, as the case may be; and the enquiry report along with
                    recommendations shall be submitted to the Anti-Ragging Committee for action.
                </li>
                <li>
                    Provided that the Anti-Ragging Squad shall conduct such enquiry observing a fair and
                    transparent procedure and the principles of natural justice and after giving adequate
                    opportunity to the student or students accused of ragging and other witnesses to place before
                    it the facts, documents and views concerning the incident of ragging, and considering such
                    other relevant information as may be required.
                </li>
                <li>
                    The University shall constitute a body to be known as Monitoring Cell on Ragging, which shall
                    coordinate to achieve the objectives of these Rules; and the Monitoring Cell shall review
                    reports from the Anti-ragging committee and it shall also keep itself abreast of the decisions
                    of the District Level Anti-Ragging Committee headed by the District Magistrate. The
                    Monitoring Cell shall also review the efforts made by University to publicize anti-ragging
                    measures, soliciting of affidavits from parents/guardians and from students, to abstain from
                    ragging activities or willingness to be penalized for violations; and shall function as the prime
                    mover for initiating action on the part of the appropriate authorities of the university for
                    amending the Statutes or Ordinances to facilitate the implementation of anti-ragging
                    measures at the level of the University.
                </li>
            </ul>
        </li>
        <li>
            <h4> Composition of Anti Ragging Committee</h4>
            <table class="table">
                <tr>
                    <td>Head of Institutions</td>
                    <td>Chairman </td>
                </tr>
                <tr>
                    <td>Director – Student Affairs</td>
                    <td>Convenor</td>
                </tr>
                <tr>
                    <td>Dean – SEAS </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>Dean - SLABS</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>All Wardens</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>Department Coordinators </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>Two representatives of
                        students from senior students</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>Student Counsellor</td>
                    <td>Member</td>
                </tr>
            </table>
        </li>
    </ol>
</div>


{% include "footer.html" %}