{% include 'header.html' %}

<body>
    <div class="forms">
        <form action="" method="post">
            {% csrf_token%}
            <h1>Complaint</h1>
            <fieldset>
                <legend>Student Details</legend>
            <div class="row">
              <div class="col">
               <label>Name:</label>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" name="sname">
              </div>
             
            </div>
            <div class="row">
                <div class="col">
                 <label>Course:</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Course" name="course">
                </div>
               
            </div>
            <div class="row">
                <div class="col">
                 <label>Year:</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="year" name="year">
                </div>
               
            </div>
            <div class="row">
                <div class="col">
                 <label>Email:</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="email" name="semail">
                </div>
               
            </div>
            <div class="row">
                <div class="col">
                 <label>Mobile No:</label>
                </div>
                <div class="col">
                  <input type="number" class="form-control" placeholder="Contact Number" name="snumber">
                </div>
               
            </div>
            <div class="row">
                <div class="col">
                 <label>Complain:</label>
                </div>
                <div class="col">
                  <textarea class="form-control" placeholder="Complain" name="complain"></textarea>
                </div>
               
            </div>
            <div class="row">
                <input style="padding: 5px; margin: 5px;" type="submit"  value="Submit" class="col btn btn-primary submit"/>
                <input style="padding: 5px; margin: 5px;" type="reset"  value="Reset" class="col btn btn-primary submit">
                </div>
        </form>
    </div>
</body>
{% include 'footer.html'%}